.about-projects {
    margin: 110px auto;
    max-width: calc(100vw - 2 * 70px);
    background-color: #202020;
}

.about-projects__title {
    text-align: left;
    color: #FFF;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    border-bottom: 1px solid #DADADA;
    padding-bottom: 23px;
}

.about-projects__content {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    display: flex;
    margin-bottom: 110px;
}

.about-projects__subtitle {
    margin: 0;
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.04em;
}

.about-projects__text {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    padding-right: 120px;
}

.about-projects__content_first-column {
    margin-right: 20px;
}

.about-projects__timeline {
    display: grid;
    grid-template-columns: 25% 75%;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #8B8B8B;
    align-items: center;
}

.about-projects__line {
    padding-top: 9px;
}

.about-projects__line:nth-child(1) {
    background-color: #3DDC84;
    color: #000;
    font-weight: 400;
    height: 36px;
}

.about-projects__line:nth-child(2) {
    background-color: #303030;
    color: #FFF;
    font-weight: 400;
    height: 36px;
}

@media screen and (max-width: 768px) {
    .about-projects {
        margin: 90px auto;
        max-width: calc(100vw - 2 * 50px);
    }
    .about-projects__subtitle {
        margin-bottom: 22px;
    }
    .about-projects__text {
        font-size: 12px;
        line-height: 18px;
        padding-right: 0px;
    }
    .about-projects__content {
        margin-bottom: 93px;
    }
}

@media screen and (max-width: 555px) {
    .about-projects {
        margin: 70px auto;
        max-width: calc(100vw - 2 * 18px);
    }
    .about-projects__title {
        padding-bottom: 28px;
    }
    .about-projects__content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 60px 0;
    }
    .about-projects__subtitle {
        font-size: 18px;
        line-height: 22px;
    }
    .about-projects__text {
        font-size: 11px;
        line-height: 16px;
        padding-right: 0;
    }
    .about-projects__content_first-column {
        margin-right: 0;
        margin-bottom: 56px;
    }
}