@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

/*подключение основных стилей*/

.page {
    min-width: 320px;
    font-family: "Inter", "sans-serif", "Arial";
    background-color: #202020;
    margin: 0 auto;
}


/*
.section-line {
    height: 1px;
    color: #DADADA;
    background-color: #DADADA;
    max-width: 1140px;
}*/