@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

/*подключение основных стилей*/

.page {
    min-width: 320px;
    min-height: 100vh;
    font-family: "Inter", "sans-serif", "Arial";
    background-color: #202020;
    margin: 0 auto;
}

.content {
    min-height: calc(100vh - 172px);
}